<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            For whom it is intended?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This service is for Node JS backend-developers.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            What does the service allow you to do?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>With this service you can create public or private (needed subscription) repositories. There you can store a templates for controllers, services, models.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              How it works?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You create a repository. Empty templates for the controller, service and model are automatically created with the repository</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What does a private repository give you?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>A private repository allows you to make your templates inaccessible to others.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can i have a repository without a subscription?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes, but your template will be public.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can i share my private repository to others?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes, you just need to know a user nickname.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How create a repository?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Toolbar -> Repositories -> My repositories -> Create</p>
      </mat-expansion-panel>
</mat-accordion>
  