<div class="form-container">
    <h1>Login</h1>
    <form [formGroup] = "signInForm" (ngSubmit)="OnSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" maxlength="20"/>
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Invalid email format</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" maxlength="20"/>
            <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Sign In</button>
        </div>
        <span class="center margin-top">Don't have an account?  <a routerLink="/sign-up">Sign Up</a> </span>
    </form>
</div>
