<div class="form-container max-form">
    <h1>Repository data</h1>
    <form [formGroup] = "repositoryForm" (ngSubmit)="OnSubmit()">
        <mat-form-field>
            <mat-label>Repository name</mat-label>
            <input matInput formControlName="name" type="text" maxlength="15"/>
            <mat-error *ngIf="name?.errors?.['required']">Repository name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Choose architecture type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="REST_API">REST API</mat-option>
          <mat-option value="JSON_RPC">JSON-RPC</mat-option>
        </mat-select>
        <mat-error *ngIf="type?.errors?.['required']">Architecture is required</mat-error>
      </mat-form-field>

        <h3>Config</h3>
        <mat-form-field>
            <mat-label>Api Prefix</mat-label>
            <input matInput formControlName="apiPrefix" type="text" maxlength="15"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Port</mat-label>
            <input matInput formControlName="port" type="number" min="1024"/>
            <mat-error *ngIf="port?.errors?.['required']">Port is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Database connection uri</mat-label>
            <input matInput formControlName="dbConnectionUri" type="string" minlength="5"/>
            <mat-error *ngIf="dbConnectionUri?.errors?.['required']">Database connection uri is required</mat-error>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Create</button>
        </div>
    </form>
</div>