<div class="form-container">
    <h1>Repository data</h1>
    <form [formGroup] = "repositoryForm" (ngSubmit)="OnSubmit()">
        <mat-form-field>
            <mat-label>Repository name</mat-label>
            <input matInput formControlName="name" type="text" maxlength="15"/>
            <mat-error *ngIf="name?.errors?.['required']">Repository name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Select a repository type</mat-label>
            <mat-select [(value)]="selected" formControlName="type">
              <mat-option value="PUBLIC">Public</mat-option>
              <mat-option value="PRIVATE">Private</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Create</button>
        </div>
    </form>
</div>