<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            You have next JSON
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{jsonSchema}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Controller Template will generate
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{controllerTemplate}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Service Template will generate
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{serviceTemplate}}</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Entity template will generate
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{entityTemplate}}</p>
      </mat-expansion-panel>
</mat-accordion>
  