<button *ngIf="isUserOwner" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/repositories/{{id}}/templates">
    <mat-icon>create</mat-icon>
    <span>Update templates</span>
  </button>
  <button mat-menu-item routerLink="/repositories/update/{{id}}">
    <mat-icon>update</mat-icon>
    <span>Update repository</span>
  </button>
  <button mat-menu-item (click)="downloadArchive()">
    <mat-icon>download</mat-icon>
    <span>Build & download</span>
  </button>
  <button mat-menu-item (click)="openDeleteRepositoryDialog()">
    <mat-icon color="warn" >delete_outline</mat-icon>
    <span>Delete repository</span>
  </button>
</mat-menu>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Entities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="table-container">
        <table mat-table [dataSource]="entities">
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Update Column -->
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button routerLink="/repositories/{{id}}/{{element.id}}" color="accent">Update</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="entityColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: entityColumns;"></tr>
        </table>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Links between entitities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="table-container">
        <table mat-table [dataSource]="links">
      
          <!-- Name Column -->
          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From </th>
            <td mat-cell *matCellDef="let element"> {{element.from}} </td>
          </ng-container>

          <ng-container matColumnDef="linkType">
            <th mat-header-cell *matHeaderCellDef> Link type </th>
            <td mat-cell *matCellDef="let element"> {{element.linkType}} </td>
          </ng-container>

          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To </th>
            <td mat-cell *matCellDef="let element"> {{element.to}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="linkColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: linkColumns;"></tr>
        </table>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Services
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="table-container">
        <table mat-table [dataSource]="services">
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Controllers
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section class="table-container">
          <table mat-table [dataSource]="controllers">
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
      </mat-expansion-panel>
</mat-accordion>
  