
  <mat-stepper [linear]="false" #stepper>
    <mat-step label="Describe entities">
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Entity name</mat-label>
          <input matInput type="text" formControlName="entityName">
          <mat-error *ngIf="form.get('entityName')?.errors?.['required']">Entity name is required</mat-error>
        </mat-form-field>

        <mat-table formArrayName="columns" [dataSource]="dataSource">
          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></mat-row>
          
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
              <mat-form-field>
                <input matInput type="text" formControlName="name"> 
              </mat-form-field>
              </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index">
              <mat-form-field appearance="fill">
                <mat-label>Choose a type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="STRING">String</mat-option>
                  <mat-option value="BOOLEAN" > Boolean</mat-option>
                  <mat-option value="INTEGER">Integer</mat-option>
                  <mat-option value="DATE">Date</mat-option>
                </mat-select>
              </mat-form-field>
              </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="isPrimaryKey">
            <mat-header-cell *matHeaderCellDef> Is Primary Key </mat-header-cell>
            <mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
              <mat-checkbox formControlName="isPrimaryKey"></mat-checkbox> </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="isNull">
            <mat-header-cell *matHeaderCellDef> Is Null </mat-header-cell>
            <mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
              <mat-checkbox  formControlName="isNull" ></mat-checkbox> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Delete</mat-header-cell>
            <mat-cell *matCellDef="let row; let index = index"> 
              <button mat-raised-button (click)="removeRow(index)" color="warn">Delete</button>
            </mat-cell>
          </ng-container>
        </mat-table>
        <button mat-raised-button color="accent" (click)="addRow()">Add row</button>
        <button mat-raised-button color="accent" (click)="OnSubmit()">Save</button>
        </form>
        <!-- <pre>{{ form.value | json }}</pre> -->
      <div>
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step  class="template-form-container">
      <form [formGroup]="linksForm">
        <ng-template matStepLabel>Create links between entities</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Choose a main entity</mat-label>
          <mat-select formControlName="from">
            <mat-option *ngFor="let entity of fromEntities" [value]="entity.id">{{entity.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a link type</mat-label>
          <mat-select formControlName="linkType">
            <mat-option value="OneToOne" > One-To-One</mat-option>
            <mat-option value="OneToMany">One-To-Many</mat-option>
            <mat-option value="ManyToMany">Many-To-Many</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a foreign entity </mat-label>
          <mat-select formControlName="to">
            <mat-option *ngFor="let entity of toEntities" [value]="entity.id">{{entity.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="saveLink()">Save link</button>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- <mat-step [stepControl]="serviceFormGroup" label="Fill out your service template" class="template-form-container">
      <form [formGroup]="serviceFormGroup" class="template-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Service template</mat-label>
          <textarea matInput formControlName="serviceTemplate"></textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="controllerFormGroup" label="Fill out your contolller template" class="template-form-container">
        <form [formGroup]="controllerFormGroup" class="template-form">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Controller template</mat-label>
            <textarea matInput formControlName="controllerTemplate"></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step> -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <mat-card>
        <mat-card-header>
          <mat-card-title>If architecture type is REST API:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            npm install express body-parser sequelize
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>If architecture type is JSON-RPC:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            npm install json-rpc-2.0 express body-parser sequelize
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>!!! Sequelize need a database package </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a href="https://sequelize.org/docs/v6/getting-started/">Sequelize Docs</a>
        </mat-card-content>
      </mat-card>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  