.template-form {
    display: block;
    width: 100%;
}

.template-form-container {
    display: block;
    width: 100%;
}

.form-field {
    width: 100%;
    max-height: 50vh;
}

.form-label {
    color: #F2F2F2;
}

table {
    width: 100%;
}

.white-color {
    color: #F2F2F2;
}

.example-card {
    background-color: gray;
    max-width: 400px;
    max-height: 70vh;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.example-card  p {
    font-size: 14px;
}

.example-card mat-card-title {
    font-size: 16px;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
}